kicad-2010.05.27.tar.bz2
kicad-doc-2010.05.27.tar.bz2
kicad-libraries-2010.05.27.tar.bz2
/kicad-2011.01.28.tar.bz2
/kicad-doc-2011.01.28.tar.bz2
/kicad-libraries-2011.01.28.tar.bz2
/kicad-2011.07.12.tar.bz2
/kicad-doc-2011.07.12.tar.bz2
/kicad-libraries-2011.07.12.tar.bz2
/Epcos-MKT-1.0.tar.bz2
/kicad-2012.01.19.tar.bz2
/kicad-libraries-2012.01.19.tar.bz2
/kicad-doc-2012.01.19.tar.bz2
/kicad-2013.06.11.tar.bz2
/kicad-libraries-2013.06.11.tar.bz2
/kicad-walter-libraries-2013.06.11.tar.bz2
/kicad-doc-2013.06.11.tar.bz2
/kicad-2014.03.13.tar.xz
/kicad-libraries-2014.03.13.tar.xz
/kicad-doc-2014.03.13.tar.xz
/kicad-walter-libraries-2014.03.13.tar.xz
/kicad-footprints-2014.03.13.tar.xz
/kicad-2015.02.05.tar.xz
/kicad-doc-2015.02.05.tar.xz
/kicad-footprints-2015.02.05.tar.xz
/kicad-libraries-2015.02.05.tar.xz
/kicad-walter-libraries-2015.02.05.tar.xz
/kicad-2015.03.21.tar.xz
/kicad-doc-2015.03.21.tar.xz
/kicad-footprints-2015.03.21.tar.xz
/kicad-libraries-2015.03.21.tar.xz
/kicad-walter-libraries-2015.03.21.tar.xz
/kicad-2015.08.03.tar.xz
/kicad-doc-2015.08.03.tar.xz
/kicad-footprints-2015.08.03.tar.xz
/kicad-libraries-2015.08.03.tar.xz
/kicad-walter-libraries-2015.08.03.tar.xz
/kicad-2015.10.24.tar.xz
/kicad-doc-2015.10.24.tar.xz
/kicad-footprints-2015.10.24.tar.xz
/kicad-i18n-2015.10.24.tar.xz
/kicad-library-2015.10.24.tar.xz
/kicad-walter-libraries-2015.10.24.tar.xz
/Air_Coils_SML_NEOSID.pretty-4.0.0.tar.gz
/Buttons_Switches_SMD.pretty-4.0.0.tar.gz
/Buttons_Switches_ThroughHole.pretty-4.0.0.tar.gz
/Buzzers_Beepers.pretty-4.0.0.tar.gz
/Capacitors_SMD.pretty-4.0.0.tar.gz
/Capacitors_Tantalum_SMD.pretty-4.0.0.tar.gz
/Capacitors_ThroughHole.pretty-4.0.0.tar.gz
/Choke_Axial_ThroughHole.pretty-4.0.0.tar.gz
/Choke_Common-Mode_Wurth.pretty-4.0.0.tar.gz
/Choke_Radial_ThroughHole.pretty-4.0.0.tar.gz
/Choke_SMD.pretty-4.0.0.tar.gz
/Choke_Toroid_ThroughHole.pretty-4.0.0.tar.gz
/Connect.pretty-4.0.0.tar.gz
/Connectors_Molex.pretty-4.0.0.tar.gz
/Converters_DCDC_ACDC.pretty-4.0.0.tar.gz
/Crystals.pretty-4.0.0.tar.gz
/Diodes_SMD.pretty-4.0.0.tar.gz
/Diodes_ThroughHole.pretty-4.0.0.tar.gz
/Discret.pretty-4.0.0.tar.gz
/Display.pretty-4.0.0.tar.gz
/Displays_7-Segment.pretty-4.0.0.tar.gz
/Divers.pretty-4.0.0.tar.gz
/EuroBoard_Outline.pretty-4.0.0.tar.gz
/Fiducials.pretty-4.0.0.tar.gz
/Filters_HF_Coils_NEOSID.pretty-4.0.0.tar.gz
/Fuse_Holders_and_Fuses.pretty-4.0.0.tar.gz
/Hall-Effect_Transducers_LEM.pretty-4.0.0.tar.gz
/Heatsinks.pretty-4.0.0.tar.gz
/Housings_DFN_QFN.pretty-4.0.0.tar.gz
/Housings_DIP.pretty-4.0.0.tar.gz
/Housings_QFP.pretty-4.0.0.tar.gz
/Housings_SIP.pretty-4.0.0.tar.gz
/Housings_SOIC.pretty-4.0.0.tar.gz
/Housings_SSOP.pretty-4.0.0.tar.gz
/IR-DirectFETs.pretty-4.0.0.tar.gz
/Inductors.pretty-4.0.0.tar.gz
/Inductors_NEOSID.pretty-4.0.0.tar.gz
/LEDs.pretty-4.0.0.tar.gz
/Labels.pretty-4.0.0.tar.gz
/Measurement_Points.pretty-4.0.0.tar.gz
/Measurement_Scales.pretty-4.0.0.tar.gz
/Mechanical_Sockets.pretty-4.0.0.tar.gz
/Microwave.pretty-4.0.0.tar.gz
/Mounting_Holes.pretty-4.0.0.tar.gz
/NF-Transformers_ETAL.pretty-4.0.0.tar.gz
/Oddities.pretty-4.0.0.tar.gz
/Opto-Devices.pretty-4.0.0.tar.gz
/Oscillators.pretty-4.0.0.tar.gz
/PFF_PSF_PSS_Leadforms.pretty-4.0.0.tar.gz
/Pin_Headers.pretty-4.0.0.tar.gz
/Potentiometers.pretty-4.0.0.tar.gz
/Power_Integrations.pretty-4.0.0.tar.gz
/Relays_ThroughHole.pretty-4.0.0.tar.gz
/Resistors_SMD.pretty-4.0.0.tar.gz
/Resistors_ThroughHole.pretty-4.0.0.tar.gz
/Resistors_Universal.pretty-4.0.0.tar.gz
/SMD_Packages.pretty-4.0.0.tar.gz
/Socket_Strips.pretty-4.0.0.tar.gz
/Sockets.pretty-4.0.0.tar.gz
/Sockets_BNC.pretty-4.0.0.tar.gz
/Sockets_MOLEX_KK-System.pretty-4.0.0.tar.gz
/Sockets_Mini-Universal.pretty-4.0.0.tar.gz
/Sockets_WAGO734.pretty-4.0.0.tar.gz
/Symbols.pretty-4.0.0.tar.gz
/TO_SOT_Packages_SMD.pretty-4.0.0.tar.gz
/TO_SOT_Packages_THT.pretty-4.0.0.tar.gz
/Terminal_Blocks.pretty-4.0.0.tar.gz
/Transformers_CHK.pretty-4.0.0.tar.gz
/Transformers_SMPS_ThroughHole.pretty-4.0.0.tar.gz
/Transistors_OldSowjetAera.pretty-4.0.0.tar.gz
/Valves.pretty-4.0.0.tar.gz
/Varistors.pretty-4.0.0.tar.gz
/Wire_Connections_Bridges.pretty-4.0.0.tar.gz
/Wire_Pads.pretty-4.0.0.tar.gz
/kicad-4.0.0.tar.xz
/kicad-doc-4.0.0.tar.gz
/kicad-i18n-4.0.0.tar.gz
/kicad-library-4.0.0.tar.gz
/Air_Coils_SML_NEOSID.pretty-4.0.1.tar.gz
/Buttons_Switches_SMD.pretty-4.0.1.tar.gz
/Buttons_Switches_ThroughHole.pretty-4.0.1.tar.gz
/Buzzers_Beepers.pretty-4.0.1.tar.gz
/Capacitors_SMD.pretty-4.0.1.tar.gz
/Capacitors_Tantalum_SMD.pretty-4.0.1.tar.gz
/Capacitors_ThroughHole.pretty-4.0.1.tar.gz
/Choke_Axial_ThroughHole.pretty-4.0.1.tar.gz
/Choke_Common-Mode_Wurth.pretty-4.0.1.tar.gz
/Choke_Radial_ThroughHole.pretty-4.0.1.tar.gz
/Choke_SMD.pretty-4.0.1.tar.gz
/Choke_Toroid_ThroughHole.pretty-4.0.1.tar.gz
/Connect.pretty-4.0.1.tar.gz
/Connectors_Molex.pretty-4.0.1.tar.gz
/Converters_DCDC_ACDC.pretty-4.0.1.tar.gz
/Crystals.pretty-4.0.1.tar.gz
/Diodes_SMD.pretty-4.0.1.tar.gz
/Diodes_ThroughHole.pretty-4.0.1.tar.gz
/Discret.pretty-4.0.1.tar.gz
/Display.pretty-4.0.1.tar.gz
/Displays_7-Segment.pretty-4.0.1.tar.gz
/Divers.pretty-4.0.1.tar.gz
/EuroBoard_Outline.pretty-4.0.1.tar.gz
/Fiducials.pretty-4.0.1.tar.gz
/Filters_HF_Coils_NEOSID.pretty-4.0.1.tar.gz
/Fuse_Holders_and_Fuses.pretty-4.0.1.tar.gz
/Hall-Effect_Transducers_LEM.pretty-4.0.1.tar.gz
/Heatsinks.pretty-4.0.1.tar.gz
/Housings_DFN_QFN.pretty-4.0.1.tar.gz
/Housings_DIP.pretty-4.0.1.tar.gz
/Housings_QFP.pretty-4.0.1.tar.gz
/Housings_SIP.pretty-4.0.1.tar.gz
/Housings_SOIC.pretty-4.0.1.tar.gz
/Housings_SSOP.pretty-4.0.1.tar.gz
/IR-DirectFETs.pretty-4.0.1.tar.gz
/Inductors.pretty-4.0.1.tar.gz
/Inductors_NEOSID.pretty-4.0.1.tar.gz
/LEDs.pretty-4.0.1.tar.gz
/Labels.pretty-4.0.1.tar.gz
/Measurement_Points.pretty-4.0.1.tar.gz
/Measurement_Scales.pretty-4.0.1.tar.gz
/Mechanical_Sockets.pretty-4.0.1.tar.gz
/Microwave.pretty-4.0.1.tar.gz
/Mounting_Holes.pretty-4.0.1.tar.gz
/NF-Transformers_ETAL.pretty-4.0.1.tar.gz
/Oddities.pretty-4.0.1.tar.gz
/Opto-Devices.pretty-4.0.1.tar.gz
/Oscillators.pretty-4.0.1.tar.gz
/PFF_PSF_PSS_Leadforms.pretty-4.0.1.tar.gz
/Pin_Headers.pretty-4.0.1.tar.gz
/Potentiometers.pretty-4.0.1.tar.gz
/Power_Integrations.pretty-4.0.1.tar.gz
/Relays_ThroughHole.pretty-4.0.1.tar.gz
/Resistors_SMD.pretty-4.0.1.tar.gz
/Resistors_ThroughHole.pretty-4.0.1.tar.gz
/Resistors_Universal.pretty-4.0.1.tar.gz
/SMD_Packages.pretty-4.0.1.tar.gz
/Socket_Strips.pretty-4.0.1.tar.gz
/Sockets.pretty-4.0.1.tar.gz
/Sockets_BNC.pretty-4.0.1.tar.gz
/Sockets_MOLEX_KK-System.pretty-4.0.1.tar.gz
/Sockets_Mini-Universal.pretty-4.0.1.tar.gz
/Sockets_WAGO734.pretty-4.0.1.tar.gz
/Symbols.pretty-4.0.1.tar.gz
/TO_SOT_Packages_SMD.pretty-4.0.1.tar.gz
/TO_SOT_Packages_THT.pretty-4.0.1.tar.gz
/Terminal_Blocks.pretty-4.0.1.tar.gz
/Transformers_CHK.pretty-4.0.1.tar.gz
/Transformers_SMPS_ThroughHole.pretty-4.0.1.tar.gz
/Transistors_OldSowjetAera.pretty-4.0.1.tar.gz
/Valves.pretty-4.0.1.tar.gz
/Varistors.pretty-4.0.1.tar.gz
/Wire_Connections_Bridges.pretty-4.0.1.tar.gz
/Wire_Pads.pretty-4.0.1.tar.gz
/kicad-4.0.1.tar.xz
/kicad-doc-4.0.1.tar.gz
/kicad-i18n-4.0.1.tar.gz
/kicad-library-4.0.1.tar.gz
/Air_Coils_SML_NEOSID.pretty-4.0.2.tar.gz
/Buttons_Switches_SMD.pretty-4.0.2.tar.gz
/Buttons_Switches_ThroughHole.pretty-4.0.2.tar.gz
/Buzzers_Beepers.pretty-4.0.2.tar.gz
/Capacitors_SMD.pretty-4.0.2.tar.gz
/Capacitors_Tantalum_SMD.pretty-4.0.2.tar.gz
/Capacitors_ThroughHole.pretty-4.0.2.tar.gz
/Choke_Axial_ThroughHole.pretty-4.0.2.tar.gz
/Choke_Common-Mode_Wurth.pretty-4.0.2.tar.gz
/Choke_Radial_ThroughHole.pretty-4.0.2.tar.gz
/Choke_SMD.pretty-4.0.2.tar.gz
/Choke_Toroid_ThroughHole.pretty-4.0.2.tar.gz
/Connect.pretty-4.0.2.tar.gz
/Connectors_Molex.pretty-4.0.2.tar.gz
/Converters_DCDC_ACDC.pretty-4.0.2.tar.gz
/Crystals.pretty-4.0.2.tar.gz
/Diodes_SMD.pretty-4.0.2.tar.gz
/Diodes_ThroughHole.pretty-4.0.2.tar.gz
/Discret.pretty-4.0.2.tar.gz
/Display.pretty-4.0.2.tar.gz
/Displays_7-Segment.pretty-4.0.2.tar.gz
/Divers.pretty-4.0.2.tar.gz
/EuroBoard_Outline.pretty-4.0.2.tar.gz
/Fiducials.pretty-4.0.2.tar.gz
/Filters_HF_Coils_NEOSID.pretty-4.0.2.tar.gz
/Fuse_Holders_and_Fuses.pretty-4.0.2.tar.gz
/Hall-Effect_Transducers_LEM.pretty-4.0.2.tar.gz
/Heatsinks.pretty-4.0.2.tar.gz
/Housings_DFN_QFN.pretty-4.0.2.tar.gz
/Housings_DIP.pretty-4.0.2.tar.gz
/Housings_QFP.pretty-4.0.2.tar.gz
/Housings_SIP.pretty-4.0.2.tar.gz
/Housings_SOIC.pretty-4.0.2.tar.gz
/Housings_SSOP.pretty-4.0.2.tar.gz
/IR-DirectFETs.pretty-4.0.2.tar.gz
/Inductors.pretty-4.0.2.tar.gz
/Inductors_NEOSID.pretty-4.0.2.tar.gz
/LEDs.pretty-4.0.2.tar.gz
/Labels.pretty-4.0.2.tar.gz
/Measurement_Points.pretty-4.0.2.tar.gz
/Measurement_Scales.pretty-4.0.2.tar.gz
/Mechanical_Sockets.pretty-4.0.2.tar.gz
/Microwave.pretty-4.0.2.tar.gz
/Mounting_Holes.pretty-4.0.2.tar.gz
/NF-Transformers_ETAL.pretty-4.0.2.tar.gz
/Oddities.pretty-4.0.2.tar.gz
/Opto-Devices.pretty-4.0.2.tar.gz
/Oscillators.pretty-4.0.2.tar.gz
/PFF_PSF_PSS_Leadforms.pretty-4.0.2.tar.gz
/Pin_Headers.pretty-4.0.2.tar.gz
/Potentiometers.pretty-4.0.2.tar.gz
/Power_Integrations.pretty-4.0.2.tar.gz
/Relays_ThroughHole.pretty-4.0.2.tar.gz
/Resistors_SMD.pretty-4.0.2.tar.gz
/Resistors_ThroughHole.pretty-4.0.2.tar.gz
/Resistors_Universal.pretty-4.0.2.tar.gz
/SMD_Packages.pretty-4.0.2.tar.gz
/Socket_Strips.pretty-4.0.2.tar.gz
/Sockets.pretty-4.0.2.tar.gz
/Sockets_BNC.pretty-4.0.2.tar.gz
/Sockets_MOLEX_KK-System.pretty-4.0.2.tar.gz
/Sockets_Mini-Universal.pretty-4.0.2.tar.gz
/Sockets_WAGO734.pretty-4.0.2.tar.gz
/Symbols.pretty-4.0.2.tar.gz
/TO_SOT_Packages_SMD.pretty-4.0.2.tar.gz
/TO_SOT_Packages_THT.pretty-4.0.2.tar.gz
/Terminal_Blocks.pretty-4.0.2.tar.gz
/Transformers_CHK.pretty-4.0.2.tar.gz
/Transformers_SMPS_ThroughHole.pretty-4.0.2.tar.gz
/Transistors_OldSowjetAera.pretty-4.0.2.tar.gz
/Valves.pretty-4.0.2.tar.gz
/Varistors.pretty-4.0.2.tar.gz
/Wire_Connections_Bridges.pretty-4.0.2.tar.gz
/Wire_Pads.pretty-4.0.2.tar.gz
/kicad-4.0.2.tar.xz
/kicad-doc-4.0.2.tar.gz
/kicad-i18n-4.0.2.tar.gz
/kicad-library-4.0.2.tar.gz
/Air_Coils_SML_NEOSID.pretty-4.0.3.tar.gz
/Buttons_Switches_SMD.pretty-4.0.3.tar.gz
/Buttons_Switches_ThroughHole.pretty-4.0.3.tar.gz
/Buzzers_Beepers.pretty-4.0.3.tar.gz
/Capacitors_SMD.pretty-4.0.3.tar.gz
/Capacitors_Tantalum_SMD.pretty-4.0.3.tar.gz
/Capacitors_ThroughHole.pretty-4.0.3.tar.gz
/Choke_Axial_ThroughHole.pretty-4.0.3.tar.gz
/Choke_Common-Mode_Wurth.pretty-4.0.3.tar.gz
/Choke_Radial_ThroughHole.pretty-4.0.3.tar.gz
/Choke_SMD.pretty-4.0.3.tar.gz
/Choke_Toroid_ThroughHole.pretty-4.0.3.tar.gz
/Connect.pretty-4.0.3.tar.gz
/Connectors_Molex.pretty-4.0.3.tar.gz
/Converters_DCDC_ACDC.pretty-4.0.3.tar.gz
/Crystals.pretty-4.0.3.tar.gz
/Diodes_SMD.pretty-4.0.3.tar.gz
/Diodes_ThroughHole.pretty-4.0.3.tar.gz
/Discret.pretty-4.0.3.tar.gz
/Display.pretty-4.0.3.tar.gz
/Displays_7-Segment.pretty-4.0.3.tar.gz
/Divers.pretty-4.0.3.tar.gz
/EuroBoard_Outline.pretty-4.0.3.tar.gz
/Fiducials.pretty-4.0.3.tar.gz
/Filters_HF_Coils_NEOSID.pretty-4.0.3.tar.gz
/Fuse_Holders_and_Fuses.pretty-4.0.3.tar.gz
/Hall-Effect_Transducers_LEM.pretty-4.0.3.tar.gz
/Heatsinks.pretty-4.0.3.tar.gz
/Housings_DFN_QFN.pretty-4.0.3.tar.gz
/Housings_DIP.pretty-4.0.3.tar.gz
/Housings_QFP.pretty-4.0.3.tar.gz
/Housings_SIP.pretty-4.0.3.tar.gz
/Housings_SOIC.pretty-4.0.3.tar.gz
/Housings_SSOP.pretty-4.0.3.tar.gz
/IR-DirectFETs.pretty-4.0.3.tar.gz
/Inductors.pretty-4.0.3.tar.gz
/Inductors_NEOSID.pretty-4.0.3.tar.gz
/LEDs.pretty-4.0.3.tar.gz
/Labels.pretty-4.0.3.tar.gz
/Measurement_Points.pretty-4.0.3.tar.gz
/Measurement_Scales.pretty-4.0.3.tar.gz
/Mechanical_Sockets.pretty-4.0.3.tar.gz
/Microwave.pretty-4.0.3.tar.gz
/Mounting_Holes.pretty-4.0.3.tar.gz
/NF-Transformers_ETAL.pretty-4.0.3.tar.gz
/Oddities.pretty-4.0.3.tar.gz
/Opto-Devices.pretty-4.0.3.tar.gz
/Oscillators.pretty-4.0.3.tar.gz
/PFF_PSF_PSS_Leadforms.pretty-4.0.3.tar.gz
/Pin_Headers.pretty-4.0.3.tar.gz
/Potentiometers.pretty-4.0.3.tar.gz
/Power_Integrations.pretty-4.0.3.tar.gz
/Relays_ThroughHole.pretty-4.0.3.tar.gz
/Resistors_SMD.pretty-4.0.3.tar.gz
/Resistors_ThroughHole.pretty-4.0.3.tar.gz
/Resistors_Universal.pretty-4.0.3.tar.gz
/SMD_Packages.pretty-4.0.3.tar.gz
/Socket_Strips.pretty-4.0.3.tar.gz
/Sockets.pretty-4.0.3.tar.gz
/Sockets_BNC.pretty-4.0.3.tar.gz
/Sockets_MOLEX_KK-System.pretty-4.0.3.tar.gz
/Sockets_Mini-Universal.pretty-4.0.3.tar.gz
/Sockets_WAGO734.pretty-4.0.3.tar.gz
/Symbols.pretty-4.0.3.tar.gz
/TO_SOT_Packages_SMD.pretty-4.0.3.tar.gz
/TO_SOT_Packages_THT.pretty-4.0.3.tar.gz
/Terminal_Blocks.pretty-4.0.3.tar.gz
/Transformers_CHK.pretty-4.0.3.tar.gz
/Transformers_SMPS_ThroughHole.pretty-4.0.3.tar.gz
/Transistors_OldSowjetAera.pretty-4.0.3.tar.gz
/Valves.pretty-4.0.3.tar.gz
/Varistors.pretty-4.0.3.tar.gz
/Wire_Connections_Bridges.pretty-4.0.3.tar.gz
/Wire_Pads.pretty-4.0.3.tar.gz
/kicad-4.0.3.tar.xz
/kicad-doc-4.0.3.tar.gz
/kicad-i18n-4.0.3.tar.gz
/kicad-library-4.0.3.tar.gz
/Air_Coils_SML_NEOSID.pretty-4.0.4.tar.gz
/Buttons_Switches_SMD.pretty-4.0.4.tar.gz
/Buttons_Switches_ThroughHole.pretty-4.0.4.tar.gz
/Buzzers_Beepers.pretty-4.0.4.tar.gz
/Capacitors_SMD.pretty-4.0.4.tar.gz
/Capacitors_Tantalum_SMD.pretty-4.0.4.tar.gz
/Capacitors_ThroughHole.pretty-4.0.4.tar.gz
/Choke_Axial_ThroughHole.pretty-4.0.4.tar.gz
/Choke_Common-Mode_Wurth.pretty-4.0.4.tar.gz
/Choke_Radial_ThroughHole.pretty-4.0.4.tar.gz
/Choke_SMD.pretty-4.0.4.tar.gz
/Choke_Toroid_ThroughHole.pretty-4.0.4.tar.gz
/Connect.pretty-4.0.4.tar.gz
/Connectors_Molex.pretty-4.0.4.tar.gz
/Converters_DCDC_ACDC.pretty-4.0.4.tar.gz
/Crystals.pretty-4.0.4.tar.gz
/Diodes_SMD.pretty-4.0.4.tar.gz
/Diodes_ThroughHole.pretty-4.0.4.tar.gz
/Discret.pretty-4.0.4.tar.gz
/Display.pretty-4.0.4.tar.gz
/Displays_7-Segment.pretty-4.0.4.tar.gz
/Divers.pretty-4.0.4.tar.gz
/EuroBoard_Outline.pretty-4.0.4.tar.gz
/Fiducials.pretty-4.0.4.tar.gz
/Filters_HF_Coils_NEOSID.pretty-4.0.4.tar.gz
/Fuse_Holders_and_Fuses.pretty-4.0.4.tar.gz
/Hall-Effect_Transducers_LEM.pretty-4.0.4.tar.gz
/Heatsinks.pretty-4.0.4.tar.gz
/Housings_DFN_QFN.pretty-4.0.4.tar.gz
/Housings_DIP.pretty-4.0.4.tar.gz
/Housings_QFP.pretty-4.0.4.tar.gz
/Housings_SIP.pretty-4.0.4.tar.gz
/Housings_SOIC.pretty-4.0.4.tar.gz
/Housings_SSOP.pretty-4.0.4.tar.gz
/IR-DirectFETs.pretty-4.0.4.tar.gz
/Inductors.pretty-4.0.4.tar.gz
/Inductors_NEOSID.pretty-4.0.4.tar.gz
/LEDs.pretty-4.0.4.tar.gz
/Labels.pretty-4.0.4.tar.gz
/Measurement_Points.pretty-4.0.4.tar.gz
/Measurement_Scales.pretty-4.0.4.tar.gz
/Mechanical_Sockets.pretty-4.0.4.tar.gz
/Microwave.pretty-4.0.4.tar.gz
/Mounting_Holes.pretty-4.0.4.tar.gz
/NF-Transformers_ETAL.pretty-4.0.4.tar.gz
/Oddities.pretty-4.0.4.tar.gz
/Opto-Devices.pretty-4.0.4.tar.gz
/Oscillators.pretty-4.0.4.tar.gz
/PFF_PSF_PSS_Leadforms.pretty-4.0.4.tar.gz
/Pin_Headers.pretty-4.0.4.tar.gz
/Potentiometers.pretty-4.0.4.tar.gz
/Power_Integrations.pretty-4.0.4.tar.gz
/Relays_ThroughHole.pretty-4.0.4.tar.gz
/Resistors_SMD.pretty-4.0.4.tar.gz
/Resistors_ThroughHole.pretty-4.0.4.tar.gz
/Resistors_Universal.pretty-4.0.4.tar.gz
/SMD_Packages.pretty-4.0.4.tar.gz
/Socket_Strips.pretty-4.0.4.tar.gz
/Sockets.pretty-4.0.4.tar.gz
/Sockets_BNC.pretty-4.0.4.tar.gz
/Sockets_MOLEX_KK-System.pretty-4.0.4.tar.gz
/Sockets_Mini-Universal.pretty-4.0.4.tar.gz
/Sockets_WAGO734.pretty-4.0.4.tar.gz
/Symbols.pretty-4.0.4.tar.gz
/TO_SOT_Packages_SMD.pretty-4.0.4.tar.gz
/TO_SOT_Packages_THT.pretty-4.0.4.tar.gz
/Terminal_Blocks.pretty-4.0.4.tar.gz
/Transformers_CHK.pretty-4.0.4.tar.gz
/Transformers_SMPS_ThroughHole.pretty-4.0.4.tar.gz
/Transistors_OldSowjetAera.pretty-4.0.4.tar.gz
/Valves.pretty-4.0.4.tar.gz
/Varistors.pretty-4.0.4.tar.gz
/Wire_Connections_Bridges.pretty-4.0.4.tar.gz
/Wire_Pads.pretty-4.0.4.tar.gz
/kicad-4.0.4.tar.xz
/kicad-doc-4.0.4.tar.gz
/kicad-i18n-4.0.4.tar.gz
/kicad-library-4.0.4.tar.gz
/Air_Coils_SML_NEOSID.pretty-4.0.5.tar.gz
/Buttons_Switches_SMD.pretty-4.0.5.tar.gz
/Buttons_Switches_ThroughHole.pretty-4.0.5.tar.gz
/Buzzers_Beepers.pretty-4.0.5.tar.gz
/Capacitors_SMD.pretty-4.0.5.tar.gz
/Capacitors_Tantalum_SMD.pretty-4.0.5.tar.gz
/Capacitors_ThroughHole.pretty-4.0.5.tar.gz
/Choke_Axial_ThroughHole.pretty-4.0.5.tar.gz
/Choke_Common-Mode_Wurth.pretty-4.0.5.tar.gz
/Choke_Radial_ThroughHole.pretty-4.0.5.tar.gz
/Choke_SMD.pretty-4.0.5.tar.gz
/Choke_Toroid_ThroughHole.pretty-4.0.5.tar.gz
/Connect.pretty-4.0.5.tar.gz
/Connectors_Molex.pretty-4.0.5.tar.gz
/Converters_DCDC_ACDC.pretty-4.0.5.tar.gz
/Crystals.pretty-4.0.5.tar.gz
/Diodes_SMD.pretty-4.0.5.tar.gz
/Diodes_ThroughHole.pretty-4.0.5.tar.gz
/Discret.pretty-4.0.5.tar.gz
/Display.pretty-4.0.5.tar.gz
/Displays_7-Segment.pretty-4.0.5.tar.gz
/Divers.pretty-4.0.5.tar.gz
/EuroBoard_Outline.pretty-4.0.5.tar.gz
/Fiducials.pretty-4.0.5.tar.gz
/Filters_HF_Coils_NEOSID.pretty-4.0.5.tar.gz
/Fuse_Holders_and_Fuses.pretty-4.0.5.tar.gz
/Hall-Effect_Transducers_LEM.pretty-4.0.5.tar.gz
/Heatsinks.pretty-4.0.5.tar.gz
/Housings_DFN_QFN.pretty-4.0.5.tar.gz
/Housings_DIP.pretty-4.0.5.tar.gz
/Housings_QFP.pretty-4.0.5.tar.gz
/Housings_SIP.pretty-4.0.5.tar.gz
/Housings_SOIC.pretty-4.0.5.tar.gz
/Housings_SSOP.pretty-4.0.5.tar.gz
/IR-DirectFETs.pretty-4.0.5.tar.gz
/Inductors.pretty-4.0.5.tar.gz
/Inductors_NEOSID.pretty-4.0.5.tar.gz
/LEDs.pretty-4.0.5.tar.gz
/Labels.pretty-4.0.5.tar.gz
/Measurement_Points.pretty-4.0.5.tar.gz
/Measurement_Scales.pretty-4.0.5.tar.gz
/Mechanical_Sockets.pretty-4.0.5.tar.gz
/Microwave.pretty-4.0.5.tar.gz
/Mounting_Holes.pretty-4.0.5.tar.gz
/NF-Transformers_ETAL.pretty-4.0.5.tar.gz
/Oddities.pretty-4.0.5.tar.gz
/Opto-Devices.pretty-4.0.5.tar.gz
/Oscillators.pretty-4.0.5.tar.gz
/PFF_PSF_PSS_Leadforms.pretty-4.0.5.tar.gz
/Pin_Headers.pretty-4.0.5.tar.gz
/Potentiometers.pretty-4.0.5.tar.gz
/Power_Integrations.pretty-4.0.5.tar.gz
/Relays_ThroughHole.pretty-4.0.5.tar.gz
/Resistors_SMD.pretty-4.0.5.tar.gz
/Resistors_ThroughHole.pretty-4.0.5.tar.gz
/Resistors_Universal.pretty-4.0.5.tar.gz
/SMD_Packages.pretty-4.0.5.tar.gz
/Socket_Strips.pretty-4.0.5.tar.gz
/Sockets.pretty-4.0.5.tar.gz
/Sockets_BNC.pretty-4.0.5.tar.gz
/Sockets_MOLEX_KK-System.pretty-4.0.5.tar.gz
/Sockets_Mini-Universal.pretty-4.0.5.tar.gz
/Sockets_WAGO734.pretty-4.0.5.tar.gz
/Symbols.pretty-4.0.5.tar.gz
/TO_SOT_Packages_SMD.pretty-4.0.5.tar.gz
/TO_SOT_Packages_THT.pretty-4.0.5.tar.gz
/Terminal_Blocks.pretty-4.0.5.tar.gz
/Transformers_CHK.pretty-4.0.5.tar.gz
/Transformers_SMPS_ThroughHole.pretty-4.0.5.tar.gz
/Transistors_OldSowjetAera.pretty-4.0.5.tar.gz
/Valves.pretty-4.0.5.tar.gz
/Varistors.pretty-4.0.5.tar.gz
/Wire_Connections_Bridges.pretty-4.0.5.tar.gz
/Wire_Pads.pretty-4.0.5.tar.gz
/kicad-4.0.5.tar.xz
/kicad-doc-4.0.5.tar.gz
/kicad-i18n-4.0.5.tar.gz
/kicad-library-4.0.5.tar.gz
